section(class="canvas front" id="front")

    div(class="content")

        h2 Conciair

        div

            p Adding Concierge services to your next vacation rental!

            div

                a(href="#section-2") Renters
                a(href="#section-3") Rental Owners
                a(href="#section-4") Service Providers

    +nav-1({ target: "section-1", direction: "next" })
